<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ingresar Nuevo Artículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-list>
          <h1> Información Nuevo Artículo </h1>
            <br>
            <ion-item>
              <ion-label>Modelo: </ion-label>
              <ion-input type="text" id="Modelo" placeholder="Modelo" onpaste="return false;" (keyup)="onKeyUp($event)" maxlength="8"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Concepto: </ion-label>
                <ion-select id="concepto" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Linea: </ion-label>
                <ion-select id="linea" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Temporada: </ion-label>
              <ion-select id="temporada" placeholder="Seleccionar">
                <ion-select-option value="o1">Opcion 1</ion-select-option>
                <ion-select-option value="o2">Opcion 2</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Tallas: </ion-label>
              <ion-select id="tallas" placeholder="Seleccionar">
                <ion-select-option value="o1">Opcion 1</ion-select-option>
                <ion-select-option value="o2">Opcion 2</ion-select-option>
              </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Acabado: </ion-label>
            <ion-select id="acabado" placeholder="Seleccionar">
              <ion-select-option value="o1">Opcion 1</ion-select-option>
              <ion-select-option value="o2">Opcion 2</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Costo: </ion-label>
          <ion-label> $ </ion-label>
            <ion-input type="number" id="costo" placeholder="0.00"></ion-input>
            <ion-label>MXN</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Precio: </ion-label>
          <ion-label> $ </ion-label>
          <ion-input type="number" id="precio" placeholder="0.00"></ion-input>
          <ion-label>MXN</ion-label>
        </ion-item>
        </ion-list>
        <br>


        <ion-grid>
          <ion-row>
            <ion-col id="foto1" size="4">
              <ion-button block (click)="activar1()" id="cargar" icon-left color="medium">
                <ion-icon name="camera"></ion-icon>Cargar Imagen
              </ion-button>
              <br>
              <ion-button *ngIf="ocultarbtn1"  id="eliminar" icon-left color="medium">
                <ion-icon name="trash"></ion-icon>Eliminar Imagen
              </ion-button> <br>
              <img id="imagen">
              <br>
              <ion-label>Color: </ion-label>
                <ion-select id="color" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
                </ion-select>
            </ion-col>



            <ion-col id="foton" size="4" *ngIf="ocultarn">
              <ion-button block (click)="activarn()" id="cargar" icon-left color="medium">
                <ion-icon name="camera"></ion-icon>Cargar Imagen
              </ion-button>
              <br>
              <ion-button *ngIf="ocultarbtnn" id="eliminar" icon-left color="medium">
                <ion-icon name="trash"></ion-icon>Eliminar Imagen
              </ion-button> <br>
              <img id="imagen">
              <br>
              <ion-label>Color: </ion-label>
                <ion-select id="color" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
                </ion-select>
            </ion-col>

          </ion-row>
        </ion-grid>


        <br>
        <ion-button id="btnAceptar" routerLink="/home" color="secondary">Aceptar</ion-button>
        <ion-button id="btnCancelar" routerLink="/home" color="dark">Cancelar</ion-button>


</ion-content>
