<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Información Nuevo Artículo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	<input type="file" id="fileLoader" #fileLoader name="files" title="Load File" hidden />
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-button icon-left (click)="presentActionSheet(fileLoader)">
        <ion-icon name="camera"></ion-icon>Select Image
      </ion-button>
      <ion-button icon-left (click)="removePic()" [disabled]="uploadImage === null">
        <ion-icon name="trash"></ion-icon>Remove
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
	<span *ngIf="uploadImage != null">
    <img id="checkinImage" [src]="uploadImage" (load)="imageLoaded()" />
  </span>
	<span *ngIf="processing">
      <ion-spinner></ion-spinner>
      <h1>Processing...</h1>
  </span>
</ion-content>
