<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nuevo Artículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido ">
    <ion-list>
      <h1>Nuevo Artículo</h1>
        <br>
          <ion-item>
              <ion-label>Marca: </ion-label>
                <ion-select id="marca" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
                </ion-select>
            </ion-item>
            <br>

            <ion-item>
              <ion-label>Proveedor: </ion-label>
                <ion-select id="proveedor" placeholder="Seleccionar">
                  <ion-select-option value="o1">Opcion 1</ion-select-option>
                  <ion-select-option value="o2">Opcion 2</ion-select-option>
                </ion-select>
            </ion-item>
            <br><br>
        </ion-list>

        <ion-button id="btn" routerLink="/n-articulo" color="secondary">Aceptar</ion-button>

</ion-content>
