<ion-header>
  <ion-toolbar>
    <ion-title>Color del Artículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="contenido">
    <h3>Seleccione el color del Artículo</h3>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let imagen of imagenes; index as i">
          <img class="galeria" src="/assets/img/7.png" alt="" srcset="" (click)="verImagen(i)">
        </ion-col>
        <ion-col >
          <ion-label>Color: </ion-label>
          <br>
            <ion-select class="color" placeholder="Seleccionar">
              <ion-select-option value="o1">Opcion 1</ion-select-option>
              <ion-select-option value="o2">Opcion 2</ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-button class="btnAceptar" routerLink="/n-articulo" color="secondary">Aceptar</ion-button>
      <ion-button class="btnCancelar" routerLink="/n-articulo" color="dark">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
